h1 {
  font-size: 42px;
}
.flex-leaving {
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
  padding: 10px;
}


@media screen and (max-width: 700px) {
  .train_img {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 483px) {
  .train_img {
    min-height: 106px;
    min-width: 358px;
    width: 355px !important;
    height: 108px !important;
  }
  img {
    width: 70%;
    height: 110%;
  }

}
