.sun-bar {
  background-color: blue;
}

.fun-bar {
  background-color: rebeccapurple;
}

.food-bar {
  background-color: aqua;
  color: black;
  font-weight: bold;
}

.thirst-bar {
  background-color: mediumvioletred;
}

p {
  margin: 0;
}
@media screen and (max-width: 544px) {
  h1 {
    font-size: 20pt !important;
  }
  .needs_images {
    height: 70%;
    max-height: 60px;
    max-width: 60px;
  }
  .tree_img {
    height: 170px;
    width: 80px;
  }
  .flex-item {
    max-width: 150px;
  }
}
@media screen and (max-width: 425px) {
  .flex-item {
    max-width: 80px;
  }
  .tree_img {
    height: 150px;
    width: 60px;
  }
  .vine_img {
    width: 123px;
    height: 150px;
  }
}
@media screen and (max-width: 412px) {
  .needs_images {
    max-height: 50px;
    max-width: 50px;
  }
  .flex-item {
    width: 70px;
  }
}
