a {
  color:rebeccapurple !important;
  font-size: 20px;
} 

body {
  background-color: #c8fae8;
  margin: 20px;
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
}

h1,
h3 {
  color: mediumvioletred;
  margin-left: 10px;
}

h2 {
  color: rebeccapurple;
  margin-left: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
  padding: 10px;
}
.flex-item {
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
  padding: 10px;
}

.btn {
  padding: 0;
}

p,
li {
  color: rebeccapurple;
  margin-left: 10px;
  list-style-type: circle;
}

img {
  height: 200px;
}

header {
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
  padding: 10px;
}
p {
  font-weight: bold;
}
.needs_images {
  height: 90px;
  width: 90px;
}
.leaving {
  border: solid 3px;
  border-radius: 10px;
  border-color: rebeccapurple;
}
.leaving_img {
  margin-right: -100px;
  position: relative;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 30pt !important;
  }
  img {
    height: 70%;
    max-height: 150px;
    max-width: 200px;
  }
  .flex-item {
    max-width: 180px;
  }
}
@media screen and (max-width: 421px) {
  img {
    max-height: 120px;
    max-width: 160px;
  }

  body {
    margin: 10px;
  }
  .flex-item {
    width: 160px;
  }
}
@media screen and (max-width: 372px) {
  img {
    height: 100px;
  }
  .flex-item {
    width: 120px;
  }
}
